<div class="profile">
    <div>
        <div class="photo"></div>
        <button class="send-letter">Отправить письмо</button>
        <div class="calendar"></div>
    </div>
    <div class="column central-column">
        <div class="name"><h1>Смирнова Мария Ивановна</h1></div>
        <div class="status"><h4>партнер: Nissan</h4></div>
        <div class="text-info">
            <div class="text-info-column">
                <div class="point wrapper-point">
                    <div class="title">Компания:</div>
                    <div class="company">ООО "Кортен"</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">Дата рождения:</div>
                    <div> 4 сентября 1980г</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">Образование*:</div>
                    <div>УрГУПС</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">Отдел:</div>
                    <div>Отдел продаж</div>
                </div>
            </div>
            <div class="text-info-column">
                <div class="point wrapper-point">
                    <div class="title">E-mail</div>
                    <div class="">smirnova@yandex.ru</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">рабочий телефон</div>
                    <div class="">34453</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">мобильный телефон</div>
                    <div class="">8-912-675-96-33</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="title">Курсы</div>
            <a href="https://nissanacademy-ne.sabacloud.com/Saba/Web_wdk/SPCTNT47Site/index/prelogin.rdf" target="blank">
                Академия Nissan
            </a>
        </div>
        <div class="card">
            <div class="title">Медальный зачет</div>
            <div class="hr-medal"></div>
            <div class="work-medal"></div>
        </div>
        <div class="card">
            <div class="title doc-title"><p>Личная документация</p><div class="key"></div></div>
            <ul class="documents">
                <li><a href="/profile">Приказы</a></li>
                <li><a href="/profile">Уведомления</a></li>
                <li><a href="/profile">Заявления</a></li>
            </ul>
        </div>
    </div>
</div>
