<div class="companies">
    <div class="column">
        <div>Фото</div>
        <div>Отправить письмо</div>
        <div>Видеозвонок</div>
        <div>Календарь</div>
        <div>Личная документация</div>
        <div>Приказы</div>
        <div>Уведомления</div>
        <div>Заявления</div>
    </div>
    <div class="column">
        <div>Фио</div>
        <div>Компания</div>
        <div>Должность</div>
        <div>Партнер</div>
        <div>Дата рождения</div>
        <div>Образование</div>
        <div>Отдел</div>
    </div>
    <div class="column">
        <div>email</div>
        <div>рабочий телефон</div>
        <div>мобильный телефон</div>
    </div>
    <div class="column">
        <div>Курсы</div>
        <div>Медальный зачет</div>
    </div>
</div>
