<div class="profile">
    <div>
        <div class="photo"></div>
        <button class="send-letter">Отправить письмо</button>
        <button class="video-call">Видеозвонок</button>
        <div class="calendar"></div>
    </div>
    <div class="column central-column">
        <div class="name"><h1>Иванов Иван Иванович</h1></div>
        <div class="status"><h4>HR-партнер</h4></div>
        <div class="text-info">
            <div class="text-info-column">
                <div class="point company">Компания Регинас</div>
                <div class="point wrapper-point">
                    <div class="title">Дата рождения:</div>
                    <div> 4 сентября 1980г</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">Образование:</div>
                    <div>УРФУ</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">Отдел:</div>
                    <div>Отдел управления персоналом</div>
                </div>
            </div>
            <div class="text-info-column">
                <div class="point wrapper-point">
                    <div class="title">E-mail</div>
                    <div class="">hr@yandex.ru</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">рабочий телефон</div>
                    <div class="">34453</div>
                </div>
                <div class="point wrapper-point">
                    <div class="title">мобильный телефон</div>
                    <div class="">8-912-675-96-33</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="title">Курсы</div>
        </div>
        <div class="card">
            <div class="title">Медальный зачет</div>
        </div>
        <div class="card">
            <p class="title">Личная документация</p>
            <ul class="documents">
                <li>Приказы</li>
                <li>Уведомления</li>
                <li>Заявления</li>
            </ul>
        </div>
    </div>
</div>
