#profile
{
    border-bottom: 1px solid red;
}

.profile
{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.column
{
    display: flex;
    flex-direction: column;
}

.central-column
{
    min-width: 50%;
}

.text-info
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.text-info-column
{
    min-height: 300px;
}

.text-info-column .title
{
    font-weight: bold;
    margin-right: 20px;
}

.point
{
    margin-bottom: 25px;
}

.status
{
    margin: 0;
    font-weight: 100;
    color: #666;
    font-size: 14px;
}

.name h1,
.status h4
{
    margin: 0;
}

.photo
{
    width: 220px;
    height: 200px;
    border: 1px solid;
    background: url(avatar.jpg) no-repeat center left;
    margin: 10px;
    background-position: -10px -48px;
    border-radius: 5px;
}

.send-letter
{
    margin-left: 60px;
}

.calendar
{
    background: url(calendar.png) no-repeat center left;
    background-size: cover;
    width: 220px;
    height: 200px;
    border: 1px solid rgba(6,6,6, .1);
    margin: 10px;
    border-radius: 5px;
}

.card
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 140px;
}

.card .title
{
    font-weight: bold;
    margin-bottom: 10px;
}

.card .documents
{
    padding-left: 0;
}

.card .documents li
{
    list-style-type: none;
    text-decoration: none;

    margin-bottom: 10px;
}

.wrapper-point
{
    display: flex;
}

.work-medal,
.hr-medal
{
    background-size: cover !important;
    width: 60px;
    height: 60px;

    display: inline-block;
}

.work-medal
{
    background: url(talk.jpg) no-repeat center left;
}

.hr-medal
{
    background: url(hr.jpg) no-repeat center left;
}
