@import "../works/works.css";

#companies
{
    border-bottom: 1px solid red;
}

.companies
{
    display: flex;
}

.companies .menu
{
    min-width: 20%;
}

.companies .menu .list
{
    display: flex;
    flex-direction: column;

    list-style-type: none;
    text-decoration: none;
}

.companies .menu .list li
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.title h2
{
    margin-bottom: 10px;
}

.structure
{
    background: url(structure.jpg) no-repeat center;

    display: none;

    width: 70%;
    background-size: contain;

    margin: 0 auto;
    height: 450px;
    margin-bottom: 70px;
}

.structure-link
{
    text-decoration: underline;
    color: darkblue;
}

a
{
    color: darkblue;
}
