<div class="companies">
    <nav class="menu">
        <ul class="list">
            <li><a href="/">Структура организации</a></li>
            <li><a href="/">Поиск сотрудника</a></li>
            <li><a href="/">Доска почета</a></li>
            <li><a href="/">Новости организации</a></li>
            <li><a href="/">Новости партнеров</a></li>
            <li><a href="/">Отчеты</a></li>
            <li><a href="/">Вакансии</a></li>
        </ul>
    </nav>
    <div class="work-container">
        <div>
            <h2 class="title">Требуются:</h2>
        </div>
         {{> works/works }}
         {{!--{{#each works}}
            {{> works/works }}
        {{/each}}--}}
    </div>
</div>
