<div class="companies">
    <nav class="menu">
        <ul class="list">
            <li class="structure-link">Структура организации</li>
            <li><a href="/companies">Поиск сотрудника</a></li>
            <li><a href="/companies">Доска почета</a></li>
            <li><a href="/companies">Новости организации</a></li>
            <li><a href="/companies">Новости партнеров</a></li>
            <li><a href="/companies">Отчеты</a></li>
            <li><a href="/companies">Вакансии</a></li>
        </ul>
    </nav>
    <div class="work-container">
        <div>
            <h2 class="title">Требуются:</h2>
        </div>
         {{> works/works }}
    </div>
    <div class="structure"></div>
</div>
