<header class="page-header">
    <nav class="navbar navbar-default">
        <div class="container navbar-container">
            <div class="btn-group nav-menu">
                <ul class="nav-menu-list">
                    <li><div class="header-logo"></div></li>
                    <li><a id="main" href="/">Главная</a></li>
                    <li><a id="companies" href="/companies">Компании</a></li>
                    <li><a id="rel" href="/rel">Общение</a></li>
                    <li><a id="hr" href="/hr">HR-сервисы</a></li>
                    <li><a id="profile" href="/profile">Мой профиль</a></li>
                    <li>
                        <div class="quest-search">
                            <form class="quest-search__form" method="get" action="/search">
                                {{#if query}}
                                <input name="query" class="quest-search__input noSwipe" placeholder="Поиск" value="{{query}}" required>                                {{else}}
                                <input name="query" class="quest-search__input noSwipe" placeholder="Поиск" required> {{/if}}
                                <button class="btn btn-xs btn-default quest-search__submit">&#128270;</button>
                            </form>
                        </div>
                        <div class="btn-group city-select">
                            <button class="btn btn-link ico-msq header-city-button" data-toggle="dropdown" type="button">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                <span class="city-select__current-city">{{ currentCity }} </span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
