<div class="works-container">
    <div class="work">
        <div class="work-wrapper">
            <div class="number">1</div>
            <div class="description">
                <p>
                    Нашей Автомастерской требуется маркетолог, способный комплексно подойти к вопросу продвижения компании и привлечения клиентов,
                    от нуля и до результата. Мы заинтересованы в качественном выполнении работы, поэтому предлагаем оплату
                    только за результат. (% от полученной прибыли или маржи). Нам не важно общепринятые требования, такие
                    как: - высшее образование - аналитический склад ума - стрессоустойчивость - проактивность - и т.д. Нам
                    важен только результат и за это мы готовы платить.
                </p>
            </div>
        </div>
        <button class="resume">Оставить резюме</button>
    </div>
    <div class="work">
        <div class="work-wrapper">
            <div class="number">1</div>
            <div class="description">
                <p>
                    Нашей Автомастерской требуется маркетолог, способный комплексно подойти к вопросу продвижения компании и привлечения клиентов,
                    от нуля и до результата. Мы заинтересованы в качественном выполнении работы, поэтому предлагаем оплату
                    только за результат. (% от полученной прибыли или маржи). Нам не важно общепринятые требования, такие
                    как: - высшее образование - аналитический склад ума - стрессоустойчивость - проактивность - и т.д. Нам
                    важен только результат и за это мы готовы платить.
                </p>
            </div>
        </div>
        <button class="resume">Оставить резюме</button>
    </div>
    <div class="work">
        <div class="work-wrapper">
            <div class="number">1</div>
            <div class="description">
                <p>
                    Нашей Автомастерской требуется маркетолог, способный комплексно подойти к вопросу продвижения компании и привлечения клиентов,
                    от нуля и до результата. Мы заинтересованы в качественном выполнении работы, поэтому предлагаем оплату
                    только за результат. (% от полученной прибыли или маржи). Нам не важно общепринятые требования, такие
                    как: - высшее образование - аналитический склад ума - стрессоустойчивость - проактивность - и т.д. Нам
                    важен только результат и за это мы готовы платить.
                </p>
            </div>
        </div>
        <button class="resume">Оставить резюме</button>
    </div>
</div>
