<div class="works">
    <div class="number">1</div>
    <div class="description">
        <p>
            lkerlerhklrehqljkhkerhqtklertjhkrtehjkretjhkrtehkjretkjhlrethjk
            lw;hgerkghjjkhrekhrehjrehkhjrfkhjrhjkfrhjkrfhjkfrhjkfrhjkfrhjkfrhjk
            feljrfjlkrfjklfjklffrkjlrfjklfrkjlfrkjlfrkjlrfkjlrfkjlrfkjfrjkfrkjlfrjkl
            rflkrkljrkjlfrjklrfjkkjlfrkjlfrkjrfjkrfjklfrjklfrjkfrjkfrjklfrjkljklfrjkfrjk
        </p>
    </div>
    <button class="resume">Оставить резюме</button>
</div>
