<div class="works-container">
    <div class="work">
        <div class="work-wrapper">
            <div class="number">1</div>
            <div class="description">
                <p>
                    Нашей Автомастерской требуется маркетолог, способный комплексно подойти к вопросу продвижения компании и привлечения клиентов,
                    от нуля и до результата.
                    Мы заинтересованы в качественном выполнении работы, поэтому предлагаем оплату
                    только за результат. (% от полученной прибыли или маржи). Нам не важно общепринятые требования, такие
                    как: - высшее образование - аналитический склад ума - стрессоустойчивость - проактивность - и т.д. Нам
                    важен только результат и за это мы готовы платить.
                </p>
            </div>
        </div>
        <button class="resume">Оставить резюме</button>
    </div>
    <div class="work">
        <div class="work-wrapper">
            <div class="number">2</div>
            <div class="description">
                <p>
                    Автомеханик в дилерский центр Nissan. Необходимо образование и стаж работы 3-5 лет.
                    Сменный график. Полная занятость.<br/>
                    Требования: опыт работы автомехаником от 3-х лет, отличное знание устройства автомобиля,
                    опыт решения сложных технических вопросов, ответственность, самостоятельность, внимательность.
                    Функционал: сервисное обслуживание и ремонт автомобилей предпродажная подготовка
                </p>
            </div>
        </div>
        <button class="resume">Оставить резюме</button>
    </div>
    <div class="work">
        <div class="work-wrapper">
            <div class="number">3</div>
            <div class="description">
                <p>
                    Менеджер по продажам<br/>
                    Требования: Обязательно наличие водительских прав категории «B». Стаж вождения.
                    Клиентоориентированность, коммуникабельность, активная жизненная позиция, инициативность.
                    Обязанности: продажа автомобилей импортного производства. Профессиональное консультирование клиентов
                    по вопросам выбора, возможных комплектаций и технических характеристик автомобилей.
                    Проведение тест-драйва. Согласование условий покупки, послепродажное сопровождение.
                    Условия: график работы 5/2 в скользящем режиме
                </p>
            </div>
        </div>
        <button class="resume">Оставить резюме</button>
    </div>
</div>
