@import "../../blocks/header/header.css";
@import "../../blocks/main_page_links/main_page_links.css";
@import "../../blocks/footer/footer.css";

html
{
    position: relative;
    min-height: 100%;
}

body
{
    background-color: #fff;
}

.wrapper,
.page-content-wrapper,
.body-content-wrapper
{
    height: 100%;
    overflow-x: hidden;
}

.page-content-wrapper
{
    padding: 0;
    margin: 0;
}

.body-content-wrapper
{
    height: auto !important;
}

@media(min-width: 768px)
{
    .body-content-wrapper
    {
        height: 100%;
    }
}

.long-word
{
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;

    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
