<div class="rel">
    <div class="blog">
        <div class="blog-menu">
            <div class="button">Популярные</div>
            <div class="button">Последние</div>
            <div class="new-post-button">Предложить вопрос</div>
        </div>
        <div class="latest-posts">
             {{> post/post }}
        </div>
        <form class="blog-new-post">
            <div class="question">
                <label for="title">От кого</label>
                <input class="title" name="title" value="Смирнова Мария Ивановна" maxlength="200">
            </div>
            <div class="question">
                <label for="text">Текст</label>
                <textarea class="text" name="text" value="Ваш гениальный вопрос.."></textarea>
            </div>
            <button class="send-post" type="submit" disabled>Опубликовать</button>
        </form>
    </div>
</div>
