<div class="post-container">
    <div class="post">
        <div class="post-wrapper">
            <div class="left">
                <div class="photo photo-man"></div>
                <div class="man"><h4>Иванов Иван Иванович</h4></div>
                <div class="date"><h5>15 мая 2017 года</h5></div>
            </div>
            <div class="right">
                <div class="question">
                    <p>
                        Будет ли вводиться балльно-рейтинговая система для сотрудников технического центра по аналогии
                        с сотрудниками отдела продаж? Если да, то бонусы будут только от ГК или от партнеров тоже?
                    </p>
                </div>
                <div class="stat">
                    <div class="likes"><div class="likes-img"></div><p class="heart-text">20</p></div>
                    <div class="dislikes"><div class="dislikes-img"></div><p class="heart-text">1</p></div>
                    <div class="comments"><a href="/rel">Комментарии</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-wrapper">
            <div class="left left-woman">
                <div class="photo photo-woman"></div>
                <div class="man">
                    <h4>Петрова Анна Михайловна</h4>
                </div>
                <div class="date">
                    <h5>25 мая 2017 года</h5>
                </div>
            </div>
            <div class="right">
                <div class="question">
                    <p>
                        Продвижение проекта не критично. Рекламоноситель без оглядки на авторитеты довольно хорошо сбалансирован. Promotion-кампания
                        существенно переворачивает медиаплан. Точечное воздействие решительно усиливает тактический ребрендинг.
                        Узнавание бренда как всегда непредсказуемо.
                    </p>
                </div>
                <div class="stat">
                    <div class="likes">
                        <div class="likes-img"></div>
                        <p class="heart-text">120</p>
                    </div>
                    <div class="dislikes">
                        <div class="dislikes-img"></div>
                        <p class="heart-text">5</p>
                    </div>
                    <div class="comments"><a href="/rel">Комментарии</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
