{{!--<script src="https://yastatic.net/share2/share.js" async="async"></script>--}}

<footer class="footer">
    <div class="footer__share ya-share2" data-services="{{ common.footer.social.name }}" data-description="{{ common.footer.social.description }}"
        data-counter></div>
    <p class="footer__text">{{ common.footer.text }}</p>
    <address class="footer__address footer-address">
        <a class="footer-address__link" href="mailto:{{ common.footer.mail }}"></a>
    </address>
</footer>
