<div class="main_page_links">
    <ul class="column">
        <li><a href="/">Устав</a></li>
        <li><a href="/">О нас</a></li>
        <li><a href="/">Направления корпоративной культуры</a></li>
        <li><a href="/">Документы</a></li>
        <li><a href="/">Направления кадровой политики</a></li>
        <li><a href="/">Документы</a></li>
    </ul>
    <ul class="column">
        <li><a href="/">Последние новости</a></li>
        <li><a href="/">Телефонный справочник</a></li>
        <li><a href="/">Нши партнеры</a></li>
        <li><a href="/">Истории успеха</a></li>
    </ul>
    <ul class="column">
        <li><a href="/">Планы мероприятий</a></li>
        <li><a href="/">Программы тимбилдинга</a></li>
        <li><a href="/">Зимняя сессия</a></li>
    </ul>
</div>
