<div class="main_page_links">
    <ul class="column">
        <li><a href="/">Устав</a></li>
        <li><a href="/">О нас</a></li>
        <li><a href="/">Направления кадровой политики</a></li>
        <li><a href="/">Наши цели</a></li>
    </ul>
    <ul class="column">
        <li><a href="/">Наши партнеры</a></li>
        <li><a href="/">Последние новости</a></li>
        <li><a href="/">Отчетность</a></li>
    </ul>
    <ul class="column">
        <li><a href="/">Планы мероприятий</a></li>
        <li><a href="/">Корпоративный журнал</a></li>
        <li><a href="/">Телефонный справочник</a></li>
        <li><a href="/">Истории успеха</a></li>
    </ul>
</div>
