.main_page_links
{
    display: flex;
    justify-content: space-around;
}

.main_page_links .column
{
    list-style-type: none;
    text-decoration: none;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;
}

