<div class="hr">
    <div class="column">
        <div>Найм и отбор</div>
        <div>Адаптация</div>
        <div>Обучение и развитие</div>
        <div>Мотивация и стимулирование</div>
        <div>Кадровая докуметация</div>
    </div>
</div>
