<div class="hr">
    <div class="hr-menu">
        <div class="button">Найм и отбор</div>
        <div class="button">Адаптация</div>
        <div class="button">Обучение и развитие</div>
        <div class="button">Мотивация и стимулирование</div>
        <div class="button">Кадровая докуметация</div>
    </div>
</div>
